{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
    {% image self.head_image fill-1338x478 as banner %}
    {% image self.content_image fill-476x348 as img %}
   <!-- start featured -->
   <section class="invest" id="service">
       <div class="container">
            <img src="{{banner.url}}" class="invest-banner">
            <div class="invest-container">
                <div class="row">
                        <div class="col col-md-4">
                            <img src="{{img.url}}">
                        </div>
                        <div class="col col-md-8 invest-summary">
                                {{ self.summary | safe }}
                            <!-- <a class="invest-btn" href="https://investors.socialchains.io/" target="_blank">
                                <span>
                                    I N V E S T
                                </span>
                            </a>
                                <span style="font-size: 12px; text-align: center !important; display: block; padding-top: 10px;">Clicking on this button will take you to the Letslaunch site</span>
                                {{ self.bottom_text | safe }}
                                <p style="text-align: left;">*LetsLaunch is an approved crowdfunding platform in compliance with regulatory bodies like SEC</p>    -->
                        </div>
                        <!-- <div class="col col-md-4">
                            <div class="statistics">
                                {{ self.statistics | safe }} 
                            </div>
                        </div> -->
                </div>   
            </div> <!-- end container -->
       </div>
</section>
<!-- end featured -->
{% endblock content %}