{% extends "base.html" %}
{% load wagtailimages_tags wagtailroutablepage_tags %}

{% block content %}
 
    <!-- start featured -->
    <section class="featured section-padding" id="service">
        <div class="container">
            <div class="row">
            {% for post in latest_posts %}
                {% image post.news_image fill-286x180 as post_img %}
                <div class="col col-lg-4 col-xs-6">
                    <div class="card fadeInUpSlow" style="width: 18rem;">
                        <a href="{{post.url}}">
                            <img class="card-img-top" src="{{post_img.url}}" alt="Card image cap">
                        </a>
                        <div class="card-body">
                        <h5 class="card-title">{{post.custom_title}}</h5>
                        <p class="card-text">{{post.summary | safe}}</p>
                        <a href="{{post.url}}" class="btn btn-primary">Read More</a>
                        </div> 
                    </div>
                </div>
            {% endfor %}
            </div>
            <a href="{% routablepageurl page 'latest_posts' %}">view latest post</a>
        </div> <!-- end container -->
    </section>
    <!-- end featured -->
{% endblock content %}
