<li class="dropdown open">
    <button class="dropdown-toggle navbar-dropdown" type="button" data-toggle="dropdown">Resources
    <span class="caret"></span></button>
    <ul class="dropdown-menu ">
      <li><a href="/whitepaper">whitepaper</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/contact-form">Contact</a></li>
    </ul>
</li>


<!-- Footer/social links -->
<div class="widget about-widget">
            
    <ul class="footer-social-links">
        <li><a href="https://www.linkedin.com/company/aapoon" title="LinkeIn"><i class="fa fa-linkedin "></i></a></li>
        <li><a href="https://www.facebook.com/SOCIALCHAINZ" title="Facebook"><i class="fa fa-facebook "></i></a></li>
        <li><a href="https://twitter.com/myaapoon" title="Twitter"><i class="fa fa-twitter "></i></a></li>
        <li><a href="https://www.reddit.com/user/GoldPersonality" title="Reddit"><i class="fa fa-reddit "></i></a></li>
        <li><a href="https://youtu.be/cq3r2zbscqE" title="YouTube"><i class="fa fa-youtube-play "></i></a></li>
        <li><a href="https://web.telegram.org/#/im?p=s1308193929_1943233909446159475" title="Telegram"><i class="fa fa-paper-plane "></i></a></li>
    </ul>
</div>