{% load static %}

<!-- start footer -->
<footer id="blog">
        <div></div>
            <ul class = "footer-site-map">
                <li><a href="/whitepaper/">Whitepaper</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/faq/">FAQ</a></li>
                <!-- <li><a href="/disclaimer/">Disclaimer</a></li> -->
                <li><a href="/terms-service/">Terms of Service</a></li>
                <li><a href="/privacy-policy/">Privacy policy</a></li>
                <li><a href="/contact-form/">Contact</a></li>
            </ul>
            <p class="copyright">2020 &copy; All Rights Reserved</p>
        </div>
</footer>
<!-- end footer -->